spring:
  profiles:
    active: dev

  application:
    name: "cross-project"
    version: "0.1"

  datasource:
    url: jdbc:postgresql://localhost:5432/cross_project
    username: postgres
    password: student321
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080